div.blink {
    border: 1px solid black;
    width: 1%;
    height: 2%;
}

.green-bg {
    animation: oscillate-green-bg 1s infinite alternate;
}

.red-bg {
    animation: oscillate-red-bg 0.2s infinite alternate;
}

@keyframes oscillate-green-bg {
    from {
        background-color: white;
    }

    to {
        background-color: green;
    }
}

@keyframes oscillate-red-bg {
    from {
        background-color: white;
    }

    to {
        background-color: red;
    }
}