div.blink {
    border: 1px solid #222;
    width: 14px;
    height: 14px;
    margin: 2px;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.green-bg {
    animation: oscillate-green-bg 1s infinite alternate;
}

.red-bg {
    animation: oscillate-red-bg 0.2s infinite alternate;
}

@keyframes oscillate-green-bg {
    from {
        background-color: white;
    }

    to {
        background-color: green;
    }
}

@keyframes oscillate-red-bg {
    from {
        background-color: white;
    }

    to {
        background-color: red;
    }
}