#mainFrame {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0;
}

#onMouseArea{
    margin: 0;
    padding: 0;
    position: relative;
}

#onMouseArea img {
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}